*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin: 0;
}

/** Navigation **/

.navbar {
  width: 100%;
  margin: 0;
  padding: 2rem;
}

.brand-name {
  display: inline-block;
  padding: .5rem 0;
  margin-left: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.navbar ul li {
  display: inline-block;
  font-size: 1.3rem;
}

.nav-item {
  font-size: 1.6rem;
  padding-right: 1rem;
}

/* Header - Jumbotron */

.header {
  max-width: 100%;
}

.jumbotron {
  height: 110vh;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  background: url(../img/bg-theme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(94, 94, 91);
}

.jumbotron-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  padding-top: .5rem;
  width: 100%;
}

.lead:first-of-type {
  padding: 1.5rem 2rem; 
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.display-1  {
  font-size: 2.5rem;
  padding-top: 4rem;
}

.svg-inline--fa {
  display: inline-block;
  margin: .5rem 0;
  font-size: 1.8rem;
}

.social-media-link {
  width: 5rem;
  color: whitesmoke;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.social-media-link:active, .social-media-link:hover, .social-media-link:visited {
  color: whitesmoke;
}

.action-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 3rem;
  padding: .8rem;
  letter-spacing: 1.5px;
  width: 16rem;
  font-size: 1.3rem;
  color: whitesmoke;
}

.action-btn a {
  text-decoration: none;
  color: whitesmoke;
}

.action-btn:hover {
  background-color: whitesmoke;
  color: #111;
}

.action-btn:hover  a {
  color: #111;
}

/* About */

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 2rem auto;
}

.profile-img { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img > img {
  width: 20rem;
  height: 30rem;
  border-radius: .3rem;
  position: relative;
}

.profile-img:after {
  content: '';
  width: 20rem;
  position: absolute;
  top: -5%;
  bottom: -7%;
  left: 15%;
  background-image: url(../img/dots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .3;
}

.about-hg2 {
  color: #555;
  font-weight: 800;
  text-align: center;
  width: 100%;
  padding: 3rem 2rem;
}

.about-hg4 {
  margin: 1rem 0 1.5rem;
  color: #555;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 2rem 0;
}
 
.about-text {
  color: #8a8a8a;
  font-size: 1.4rem;
  line-height: 2;
}

.contact-hg2, .portfolio-hg2 {
  color: #555;
  font-weight: 800;
  text-align: center;
  padding: 3rem 2rem;
}

 .test {
  border: 1px solid red;
}

/* Portfolio */

.portfolio {
  background: #f7f7f7;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.card-container {
  padding: 4rem 2rem;
  max-width: 100rem;
  margin: 0 auto;
}

.card {
  width: 30rem;
  height: 15rem;
  margin: 2rem;
  padding: 0;
  border-radius: 4px;
  border: none;
  position: relative;
} 

.image {
  display: block;
  width: 100%;
  height: 100%;
  /* width: 30rem;
  height:20rem;
  margin: 0;
  padding: 0; */
  filter: grayscale(50%);
}

.overlay {
  position: absolute;
  bottom: -5%;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  height: 101%;
  opacity: 0;
	transition: opacity .5s;
}

.card:hover .overlay  {
  width: 100%;
  background-color: rgba(255, 255, 255, .9); 
  color: rgb(6,6,6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  opacity: 1;
}

.overlay-content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-content h5 {
  padding-top: 1rem;
  font-size: 1.6rem;
}

.overlay-content h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.overlay-content-links {
  padding: 0;
}

.overlay-content-links a {
  color: rgb(6,6,6);
  padding: 0 .5rem;
}

.overlay-text {
  padding: 1rem;
}

.card:hover .overlay-content{
  opacity: 1;
}

/* Contact */

.contact {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.contact-form {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

.form-input, .form-textarea {
  margin-bottom: 1rem;
  background-color: #fafafa;
  border: none;
  padding: 2rem 1rem;
}

.form-input {
  position: relative;
}

.form-textarea {
  padding: 1rem;
}

.form-input::placeholder, textarea::placeholder {
  font-size: 1rem;
  font-weight: 600;
}

.submit-btn {
  background-color: #111;
  font-size: 1.1rem;
  padding: 1.2rem;
  display: block;
  width: 18rem;
  margin: 4rem auto 3rem;
  border: 1px solid transparent;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: background-color .4s;
}

.submit-btn:hover {
  background-color: transparent;
  color:#111;
  border: 1px solid #111;
}

.tooltip {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  right: 270px;
  visibility: visible;
}

/* Footer */

.footer {
  margin: 0;
  background-color: #111;
}

.footer-social {
  background-color: rgb(34, 33, 33);
  text-align: center;
  padding: 2rem 0;
}

.footer-social ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-social li {
  display: inline-block;
}

.footer-social .svg-inline--fa {
  font-size: 1.4rem;
  color: rgb(110, 109, 109);
}

.footer-social p {
  color: rgb(110, 109, 109);
  padding: 1rem 0 2rem;
  font-size: 1.1rem;
  margin-bottom: 0;
}

/**Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  border: 1px solid lightgray;
  display: block;
  height: 70vh;
  overflow: scroll;
}

.modal-content > div {
  text-align: right
}

.arrow-right, .arrow-left {
  font-size: 80px;
  color: #fff;
  cursor: pointer;
}

.arrow-right:hover, .arrow-left:hover {
  background-color: rgba(0,0,0,0.2);
}

.close-modal {
  display: inline-block;
  padding: 1rem;
  color: darkgray;
  cursor: pointer;
}

.modal__photo {
  width: 80%;
  height: 80%;
}

figcaption {
  font-size: 1.4rem;
  padding: 1rem;
}

@media (min-width: 480px)  {

  .profile-img:after {
    left: 25%;
  }
}

 @media (min-width: 768px) { 

  .jumbotron-text {
    padding-top: 8rem;
  }

  .lead:first-of-type, .lead:last-of-type {
    font-size: 22px;
  }

  .display-1  {
    font-size: 5rem;
  }

  .svg-inline--fa {
    margin: 2rem 0;
    font-size: 2.5rem;
  }

  .about {
    height: 100vh;
  }

  .profile-img:after {
    bottom: 15%;
  }

  .action-btn {
    margin-top: 30px;
  }

  .card {
    height: 20rem;
 } 

 @media (min-width: 1000px) {

  .profile-img:after {
    bottom: -8%;
  }
 }